.mat-card-poke {
    border: 1px solid #cfd8dc;
    border-radius: 4px 3px 6px / 2px 4px;
    padding-top: 15px;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 0%;
    margin: 5px;
    min-height: 436px;
    min-width: 252px;
}

.mat-card-title-poke {
    padding-left: 10px;
    padding-top: 0px;
    padding-right: 15px;
    margin-bottom: 0px;
    min-height: 70px;
}

.mat-chip-date {
    background-color: #90caf9 !important;
    color: black !important;
}

.poke-content {
    padding-top: 40px;
    padding-left: 2%;
    padding-right: 2%;
}
